footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    vertical-align: middle;
    align-items: center;
    justify-items: center;

    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 59px;

    background: white;

    font-family: SFProDisplay;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}