.rectangle
{
    position: absolute;
    width: 296px;
    height: 48px;
    left: 19px;
    top: 50px;

    background: #FDFCFC;
    box-shadow: 5px 5px 80px rgba(212, 173, 134, 0.122623);
    border-radius: 10px;
    border: 0px;
    padding-left: 40px;
}

.input
{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 66px;
    top: 65px;

    font-family: SFProText;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */

    text-align: center;

    color: #000000;
}

.search-icon
{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 34px;
    top: 66px;
    z-index: 1;
}