.volume-banner
{
    min-width: 272px;
    min-height: 139px;
    max-width: 60%;
    align-self: flex-start;
    margin-top: 1%;
    margin-left: 5%;
    background-color: transparent;
    border: 0px;
}