.spinner
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.volume-button
{
    width: 33%;
    justify-content: flex-start;
    background-color: transparent;
    border: 0px;
    text-align: left;
}

.cover
{
    width: 100px;
    height: 150px; 
    filter: drop-shadow(0px 2px 4px rgba(229, 229, 229, 0.5));
    border-radius: 5px;
}

.title
{
    display: inline-block;
    height: 14px;
    margin-top: 0.5rem;

    font-family: SFProDisplay;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    overflow-x: auto;
}

.author
{
    display: inline-block;
    height: 12px;

    font-family: SFProText;
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    overflow-x: auto;
    /* identical to box height */

    color: rgba(49, 49, 49, 0.8);
}

.load-more-container
{
    justify-content: center;
}

.load-more-button
{
    background: none;
    border: none;
    font-family: SFProText;
    font-style: normal;
    font-weight: 900;
    justify-content: center;

    margin-top: 5%;
    margin-bottom: 25%;
}